.price {
  color:green;
  float:right;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

.general {
  padding-left: 10px;
  margin-right: 20px;
  
}

.product {
  border-bottom:1px solid lightslategrey;
  margin-bottom: 15px;
  padding-bottom: 20px;
}



.buttons{
  float:right;
  margin-left: 5px;
  border:none;
  height:30px;
  width:30px;
  border-radius: 50%;
  background-color: lightblue;
  color:white;
  font-size: 16px;
  font-weight: bold;
}

.buttons:hover{
  cursor: pointer;
}

.removeProduct {
  border: none;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  color: white;
  background-color: palevioletred;
}

.removeProduct:hover{
  cursor: pointer;
}

.basket{
  width:20%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .general {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .general {
    width: 95%;
  }
  .basket{
    width:50%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .general {
    width: 95%;
  }
  .basket{
    width:50%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .general {
    width: 95%;
  }
  .basket{
    width:50%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .general {
    width: 95%;
  }
  .basket{
    width:50%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .general {
    width: 95%;
  }
  .basket{
    width:50%;
  }
  
}
